/** @type {import('tailwindcss').Config} */
export default {
  content: ["./index.html", "./src/**/*.{js,ts,jsx,tsx}"],
  darkMode: "class",
  theme: {
    extend: {
      colors: {
        "surface-container-low": "#f3f4f4",
        "primary": "#000000",
        "on-secondary": "#ffffff",
        "on-background": "#191c1c",
        "tertiary-fixed": "#b5ecf0",
        "surface-container-high": "#e7e8e8",
        "error-container": "#ffdad6",
        "secondary-fixed": "#c2e8ff",
        "tertiary-fixed-dim": "#99d0d3",
        "primary-container": "#061e29",
        "tertiary": "#000101",
        "surface-tint": "#4b616e",
        "on-secondary-container": "#31657e",
        "secondary": "#30647e",
        "on-primary-container": "#718795",
        "surface-container": "#edeeee",
        "surface-dim": "#d9dada",
        "outline-variant": "#c3c7cb",
        "surface-bright": "#f8f9f9",
        "tertiary-container": "#002022",
        "error": "#ba1a1a",
        "secondary-fixed-dim": "#9bcdea",
        "on-error-container": "#93000a",
        "on-error": "#ffffff",
        "on-primary": "#ffffff",
        "on-tertiary-fixed": "#002021",
        "on-surface-variant": "#42474b",
        "on-surface": "#191c1c",
        "primary-fixed-dim": "#b3cad9",
        "on-secondary-fixed": "#001e2c",
        "surface-container-lowest": "#ffffff",
        "primary-fixed": "#cee6f5",
        "on-primary-fixed": "#061e29",
        "inverse-primary": "#b3cad9",
        "on-tertiary-container": "#578d90",
        "surface-variant": "#e1e3e3",
        "inverse-surface": "#2e3131",
        "background": "#f8f9f9",
        "secondary-container": "#aee1ff",
        "on-tertiary": "#ffffff",
        "surface": "#f8f9f9",
        "on-tertiary-fixed-variant": "#114e51",
        "on-primary-fixed-variant": "#344a56",
        "outline": "#73787b",
        "surface-container-highest": "#e1e3e3",
        "inverse-on-surface": "#f0f1f1",
        "on-secondary-fixed-variant": "#114c65",
      },
      borderRadius: {
        DEFAULT: "0.125rem",
        lg: "0.25rem",
        xl: "0.5rem",
        "2xl": "1rem",
        full: "9999px",
      },
      fontFamily: {
        headline: ["Manrope", "sans-serif"],
        body: ["Inter", "sans-serif"],
        label: ["Inter", "sans-serif"],
      },
      boxShadow: {
        editorial: "0 12px 40px rgba(6, 30, 41, 0.06)",
      },
    },
  },
  plugins: [],
};